body {
  font-family: 'Open Sans', sans-serif; }

/*************
Updated Pricing Tables
*************/
.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }

#wrapper--pp-pricing {
  max-width: 500px; }

.toggleWrapper {
  margin: 1em auto;
  display: block;
  text-align: center; }

.priceToggle {
  padding: 17px 20px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #aaa;
  color: #aaa;
  -webkit-transition-duration: .3s;
          transition-duration: .3s; }

.priceToggle--active {
  background-color: #377bb5;
  border: 2px solid #377bb5;
  color: #ffffff; }

.paymentDisclaimer {
  text-align: center; }

.monthly-disclaimer {
  display: none; }

#feature-table {
  overflow-y: hidden;
  text-align: center;
  margin: auto;
  overflow-x: auto;
  display: block;
  width: 100%;
  color: #333333;
  font-size: .9em; }
  #feature-table colgroup {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  #feature-table td {
    border: none;
    padding: .6em .6em !important;
    background-color: #fdfdfd;
    width: 33%; }

th.member-type-cell:nth-child(1),
th.price-cell:nth-child(1) {
  background-color: #f9bd7b; }

th.member-type-cell:nth-child(2),
th.price-cell:nth-child(2) {
  background-color: #f7a44a; }

th.member-type-cell:nth-child(3),
th.price-cell:nth-child(3) {
  background-color: #f58c1a; }

.member-type-cell {
  padding: .8em .5em;
  font-weight: 700;
  font-size: 1.3em; }

.price-cell {
  /*background-color: $dfc-orange;*/
  color: #333333;
  padding: 1.5em 1em; }
  .price-cell .price {
    font-size: 1.5em;
    font-size: 4.8vw; }

span.annual-disclaimer {
  font-style: italic;
  font-weight: 300; }

.subtitle-cell {
  background-color: #f2f2f2;
  padding: .8em .5em;
  font-weight: 700; }

.highlight-diff {
  font-weight: bold; }

.highlight-diff--urgent {
  color: #f48710; }

.table-expander {
  background: #f9b56d;
  font-size: 1.3em;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding: .6em;
  width: 100%; }

.row--hidden {
  display: none; }

.row--rm {
  text-align: left; }
  .row--rm td:last-child {
    background-color: #f0f0f0 !important; }

td > .fa-check {
  color: #55ae56; }

.fa-bookmark {
  color: red; }

.select-join {
  width: 100%;
  padding: 17px 0;
  display: block;
  margin-top: 17px;
  line-height: 21px;
  font-size: 18px;
  outline: 0;
  color: #ffffff;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  background-color: #5cb85c; }
  .select-join:hover {
    background-color: #449d44; }

@media screen and (min-width: 800px) {
  #feature-table {
    border-collapse: separate !important;
    border-spacing: 1em 0 !important;
    font-size: 1em; }
    #feature-table td {
      border-bottom: solid 1px #f8f8f8; }
    #feature-table .row--rm td:last-child {
      background-color: #f0f0f0 !important;
      border-color: #f0f0f0; }
  .price-cell .price {
    font-size: 2.5em;
    font-size: 3.2vw; }
  td > .fa {
    margin-right: 1em; } }
