body {
  font-family: 'Open Sans', sans-serif;
}

$lightgray:  #fdfdfd;
$dfc-orange: #f69832;
$top-row: darken($dfc-orange, 12%);
$expand-button: lighten($dfc-orange, 12%);
$subtitle-row: #f2f2f2;
$table-border: darken($lightgray, 2%);
$switch: #377bb5;
$table-text: #333333;
$join: #5cb85c;
$join-hover: #449d44;
$rm-cells: darken($lightgray, 5%);

$left-column: #ffb03a;
$middle-column: #ff9900;
$right-column: #ff8400;
/*************
Updated Pricing Tables
*************/

.wrapper {
  width:100%;
  max-width: 1300px;
  margin: 0 auto;
}

#wrapper--pp-pricing {
  max-width:500px;
}

.toggleWrapper {
  margin: 1em auto;
  display: block;
  text-align: center;
}

.paymentDisclaimer {
  text-align: center;
}

.monthly-disclaimer {
  display: none;
}

#feature-table {
  overflow-y: hidden;
  text-align: center;
  margin: auto;
  overflow-x: auto;
  display: block;
  width: 100%;
  color: $table-text;
  border-spacing: .2em 0 !important;
  font-size: .9em;

  td {
    border: none;
    padding: .6em .6em !important;
    background-color: $lightgray;
    width: 33%;
  }
}

th.member-type-cell,
th.price-cell {
  &:nth-child(1) {
    background-color: $left-column;
  }
  &:nth-child(2) {
    background-color: $middle-column;
  }
  &:nth-child(3) {
    background-color: $right-column;
  }
}

.member-type-cell {
  padding: .8em .5em;
  font-weight: 700;
  font-size: 1.3em;
}

.price-cell {
  color: #333333;
  padding: 1em 1em;

  .price {
    font-size: 1.5em;
    font-size: 4.8vw;
    font-weight: bold;
  }
}

span.annual-disclaimer {
  font-weight: 400;
  display: block;
  padding: 1em;

  &:nth-child(1) {
    border-bottom: 2px solid lighten($left-column, 30%);
  }
  &:nth-child(2) {
    border-bottom: 2px solid lighten($middle-column, 30%);
  }
  &:nth-child(3) {
    border-bottom: 2px solid lighten($right-column, 30%);
  }
}

.subtitle-cell {
  background-color: $subtitle-row;
  padding: .8em .5em;
  font-weight: 700;
}

.highlight-diff {
  font-weight: bold;
}

.highlight-diff--urgent {
  color: darken($dfc-orange, 7%);
}

.table-expander {
  background: $expand-button;
  font-size: 1.3em;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding: .6em;
  width: 100%;
}

.row--hidden {
  display: none;
}

.row--rm {
  text-align: left;

  td:last-child {
    background-color: $rm-cells !important;
  }
}

td > .fa-check {
  color: #55ae56;
}

.fa-bookmark {
  color: red;
}

.select-join {
  width: 100%;
  padding: 17px 0;
  display: block;
  margin-top: 17px;
  line-height: 21px;
  font-size: 18px;
  outline: 0;
  color: #ffffff;
  transition-duration: .3s;
  background-color: $join;

  &:hover {
    background-color: $join-hover;
  }
}

@media screen and (min-width: 800px) {
  #feature-table {
    border-collapse: separate !important;
    border-spacing: 1em 0 !important;
    font-size: 1em;

    td {
      border-bottom: solid 1px $table-border;
    }

    .row--rm td:last-child {
      background-color: $rm-cells !important;
      border-color: $rm-cells;
    }
  }

  .price-cell .price {
    font-size: 2.5em;
    font-size: 3.2vw;
  }

  td > .fa {
    margin-right: 1em;
  }
}
